.login_btn {
	border : 0;
	font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 44px;
}

.error_block{
	text-align: center;
    color: crimson;
    font-weight: 600;
}

.heading-text {
	color: #2fce98;
    font-weight: 600;
    font-size: 1.8em;
}